.product-card{

    width: 25%;

    background-color: #ffffff;

    img{

        background-color: #ffffff;

        width: 100%;
        height: auto;

        border-bottom: 1px solid #eaf1f2;

    }

    .card-body{

        padding-bottom: 20px;

        .product-name{

            font-weight: 300;
            font-size: 12px;
            color: #818181;
            text-transform: uppercase;

            display: flex;
            justify-content: center;

            margin-top: 16px;

        }

        .prices{

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            margin-top: 10px;

            .price{

                font-weight: 400;
                font-size: 18px;
                color: #818181;

            }

            .orig-price{

                font-weight: 400;
                font-size: 12px;
                color: #ff4d36;
                text-decoration: line-through;

            }

        }

        
    }

}