.footer {

    background-color: #1a1a1a;
    color: #818181;

    .top {

        display: flex;

        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.15);

        .left {

            display: flex;
            flex-direction: column;
            align-items: end;

            padding-right: 50px;

            border-right: 1px solid rgba($color: #ffffff, $alpha: 0.15);

            .store-logo {

                display: flex;
                justify-content: start;
                align-items: center;

                width: 70%;

                margin-top: 60px;
            }

            .store-description {

                width: 70%;

                font-weight: 300;
                font-size: 12px;

                p {
                    margin: 40px 0px;
                }

            }

            .socials {

                width: 70%;

                .social-text {

                    text-transform: uppercase;
                    color: #9a9a9a;
                    font-weight: 400;
                    font-size: 18px;

                }

                .social-logos {

                    display: flex;
                    gap: 10px;
                    margin-top: 30px;

                    font-size: 18px;

                    .social-logo {

                        font-size: 18px;

                        opacity: 0.25;

                        height: 50px;
                        width: 48px;
                        border: 2px solid #929292;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }
            }
        }

        .right {

            .newsletter {

                margin-top: 55px;
                padding-left: 55px;
                padding-bottom: 55px;


                border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.15);

                .newsletter-text {

                    margin-bottom: 30px;

                    text-transform: uppercase;
                    color: #9a9a9a;
                    font-weight: 400;
                    font-size: 18px;
                }

                .newsletter-subscribe {

                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;


                    input {

                        height: 46px;
                        width: 620px;
                        border: none;
                    }

                    input::placeholder{

                        font-weight: 300;
                        font-size: 11px;
                        color: #aeaeae;
                        padding-left: 40px;
                    }

                    button {

                        height: 50px;
                        width: 202px;

                        color: #ffffff;
                        background-color: #1eb089;

                        font-weight: 400;
                        font-size: 12px;
                    }
                }

            }

            .site-map {

                display: flex;
                justify-content: start;

                .col {

                    padding-left: 55px;
                    padding-top: 55px;

                    .col-heading {

                        margin-bottom: 34px;

                        text-transform: uppercase;
                        color: #9a9a9a;
                        font-weight: 400;
                        font-size: 18px;
                    }

                    .site-links {

                        .link-item {

                            margin: 10px 0px;

                            display: flex;
                            align-items: center;

                            .link-text{

                                margin-left: 5px;

                                font-weight: 300;
                                font-size: 12px;
                                color: #818181;
                            }
                        }
                    }
                }
            }

        }
    }

    .bottom {


        display: flex;
        justify-content: space-evenly;

        padding: 40px;

    }

}